{% load bootstrap_pagination %}
{% if page.has_other_pages %}
    <nav aria-label="Paginação">
        <ul class="pagination{% if size == "small" %} pagination-sm{% endif %}{% if size == "large" %} pagination-lg{% endif %}{% if align == "center" %} justify-content-center{% endif %}{% block extra_classes %}{% endblock %}">
            {% if show_first_last %}
                {% if not page.has_previous %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">{{ first_label }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" title="Primeira Página"
                           href="{{ first_page_url|default:"#"|escape }}">{{ first_label }}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if show_prev_next %}
                {% if not page.has_previous %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">{{ previous_label }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" title="Anterior"
                           href="{{ previous_page_url|default:"#"|escape }}">{{ previous_label }}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% for pagenum, index_range, url in page_urls %}
                {% if page.number == pagenum %}
                    <li class="page-item active">
                    <span class="page-link">{% if show_index_range %} {{ index_range }} {% else %}
                        {{ pagenum }} {% endif %}</span>
                        <span class="sr-only">(current)</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" title="Página {{ pagenum }} de {{ page.paginator.num_pages }}"
                           href="{{ url|escape }}">
                            {% if show_index_range %} {{ index_range }} {% else %} {{ pagenum }} {% endif %}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if show_prev_next %}
                {% if not page.has_next %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">{{ next_label }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" title="Próxima"
                           href="{{ next_page_url|default:"#"|escape }}">{{ next_label }}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if show_first_last %}
                {% if not page.has_next %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">{{ last_label }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" title="Última Página"
                           href="{{ last_page_url|default:"#"|escape }}">{{ last_label }}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endif %}