{% extends 'core_admin/base_admin.html' %}

{% block page_content_class %}dashboard-page{% endblock %}
{% block page-title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block page-content %}


    {% if request.user.is_superuser %}

        <section class="section">
            <div class="row">
                <div class="col stats-col">
                    <div class="card sameheight-item stats" data-exclude="xs">
                        <div class="card-block">
                            <div class="title-block">
                                <h4 class="title"> Geral </h4>
                            </div>
                            <div class="row row-sm stats-container">


                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> {{ reviewers_num }}</div>
                                        <div class="name"> Total de reviso{{ reviewers_num|pluralize:"r,res" }}</div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 34%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat-icon">
                                        <i class="fa fa-list-alt"></i>
                                    </div>
                                    <div class="stat">
                                        <div class="value"> {{ reviews_num }}</div>
                                        <div class="name"> Revis{{ reviews_num|pluralize:"ão,ões" }}</div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 49%;"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

    {% endif %}

    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">

                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Lista de Revisões </h3>
                        </div>
                        {% include 'registers/reviews/_table.html' with object_list=reviews page_obj=reviews paramname='reviews_page' note_empty=note_empty %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    <script>
        $(function () {

            setTimeout(function () {
                if ($(".alert").is(":visible")) {
                    $(".alert").fadeOut("slow");
                }
            }, 3000)

        });
    </script>

{% endblock %}