{% extends 'core_admin/base_admin.html' %}
{% load i18n static widget_tweaks %}
{% get_current_language as LANGUAGE_CODE %}
{% block body_class %}{% endblock %}

{% block main_wrapper %}
    <div class="auth">
        <div class="auth-container">

            {% block login_messages %}
                {% for message in messages %}

                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        {{ message }}
                    </div>

                {% endfor %}
            {% endblock %}

            <div class="card">
                {% block login_header %}
                    <header class="auth-header">
                        <h1 class="auth-title">

                            <img width="250" src="{% static 'core_admin/images/onidata-logo-final.png' %}"
                                 alt="Onidata">

                        </h1>
                    </header>
                {% endblock %}

                {% block login_content %}
                    <div class="auth-content">

                        <form id="loginform" method="post" novalidate>
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    {{ form.non_field_errors }}

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            {% for field in form %}
                                <div class="form-group{% if field.errors %} has-error{% endif %}">

                                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                    {% render_field field|add_class:"form-control underlined" placeholder=field.label %}
                                    {% for error in field.errors %}
                                        <span id="{{ field.name }}-error" class="has-error">{{ error }}</span>
                                    {% endfor %}

                                </div>
                            {% endfor %}


                            <div class="form-group">

                                <button class="btn btn-block btn-primary"
                                        type="submit"> Entrar
                                </button>
                            </div>

                        </form>

                    </div>
                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}