{% extends 'accounts/login.html' %}
{% load i18n static widget_tweaks %}

{% block login_content %}


    <div class="auth-content">

        <h5 class="text-center text-uppercase">Recuperar Senha</h5>
        <p class="text-muted text-center">Digite um endereço de e-mail válido para recuperar a senha.</p>


        {% if success %}
            <div class="alert alert-success alert-dismissible fade show">
                <p>Um e-mail foi enviado para você com mais detalhes de como criar uma nova senha</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <form id="loginform" method="post" novalidate>
            {% csrf_token %}


            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">

                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% render_field field|add_class:"form-control underlined" placeholder=field.label %}
                    {% for error in field.errors %}
                        <span id="{{ field.name }}-error" class="has-error">{{ error }}</span>
                    {% endfor %}

                </div>
            {% endfor %}


            <div class="form-group">

                <button class="btn btn-block btn-primary"
                        type="submit"> Recuperar senha
                </button>
            </div>
            <div class="form-group clearfix">
                <a class="pull-left" href="{% url 'accounts:login' %}">Retornar</a>
                <a class="pull-right" href="{% url 'accounts:register' %}">Registrar-se</a>
            </div>
        </form>

    </div>


{% endblock %}

