{% extends 'accounts/login.html' %}
{% load i18n static widget_tweaks %}

{% block login_content %}

    <div class="auth-content">


        {% if success %}
            <div class="alert alert-success alert-dismissible fade show">
                <p>Sua senha foi criado com sucesso</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}

            <h5 class="text-center text-uppercase">Informe sua nova senha</h5>
            <form id="loginform" method="post" novalidate>
                {% csrf_token %}


                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">

                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field|add_class:"form-control underlined" placeholder=field.label %}
                        {% for error in field.errors %}
                            <span id="{{ field.name }}-error" class="has-error">{{ error }}</span>
                        {% endfor %}

                    </div>
                {% endfor %}


                <div class="form-group">

                    <button class="btn btn-block btn-primary"
                            type="submit"> Enviar
                    </button>
                </div>

            </form>

        {% endif %}

    </div>

{% endblock %}
