{% extends 'accounts/login.html' %}
{% load i18n static widget_tweaks %}

{% block login_content %}

    <div class="auth-content">

        <h5 class="text-center text-uppercase">Registro do sistema</h5>

        <form id="loginform" method="post" novalidate>
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ form.non_field_errors }}

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {% for field in form.visible_fields %}


                {% if field.name == 'is_agree' %}

                    <div class="form-group">
                        <label for="{{ field.auto_id }}">
                            {% render_field field|add_class:"checkbox" %}
                            <span>Concordo com os <a href="#">{{ field.label }}.</a></span>
                        </label>
                    </div>

                {% else %}

                    <div class="form-group{% if field.errors %} has-error{% endif %}">

                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field|add_class:"form-control underlined" placeholder=field.label %}
                        {% for error in field.errors %}
                            <span id="{{ field.name }}-error" class="has-error">{{ error }}</span>
                        {% endfor %}

                    </div>

                {% endif %}
            {% endfor %}




            <div class="form-group">

                <button class="btn btn-block btn-primary"
                        type="submit"> Registrar
                </button>
            </div>
            <div class="form-group">
                <p class="text-muted text-center">
                    já tem uma conta?
                    <a href="{% url 'accounts:login' %}">Entrar!</a>
                </p>
            </div>
        </form>

    </div>

{% endblock %}