{% extends 'core_admin/base_admin.html' %}
{% load static %}
{% block page_content_class %}items-list-page{% endblock %}


{% block page-content-title %}{{ label }}{% endblock %}
{% block page-content-breadcrumb %}{{ block.super }}
    | {{ label }}
{% endblock %}

{% block page-title-right %}
    <div class="items-search">
        <a class="btn btn-primary btn-sm" href="{% url 'accounts:reviewer_create' %}">
            <i class="fa fa-plus"></i> Adicionar
        </a>
    </div>
{% endblock %}

{% block page-content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-block">
                    <div class="card-title-block">
                        <h3 class="title"> Lista de {{ label }} </h3>
                    </div>
                    {% include 'accounts/reviewers/_table.html' with object_list=object_list page_obj=page_obj paramname='page' note_empty=note_empty %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {

            setTimeout(function () {
                if ($(".alert").is(":visible")) {
                    $(".alert").fadeOut("slow");
                }
            }, 3000)

        });
    </script>

{% endblock %}
