{% load static bootstrap_pagination %}
<div class="table-responsive m-t-20">
    <table class="table stylish-table">
        <thead>
        <tr>
            {% if request.user.is_superuser %}
                <th>Revisor</th>
            {% endif %}
            <th>Título</th>
            <th>Avaliação</th>
            <th>Empresa</th>
            <th>Data de submissão</th>
            {% if request.user.is_superuser %}
                <th class="text-nowrap">Ação</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                {% if request.user.is_superuser %}
                    <td>{{ item.reviewer }}</td>
                {% endif %}
                <td>{{ item.title }}</td>
                <td>{{ item.rating }}</td>
                <td>{{ item.company }}</td>
                <td>{{ item.submission_at|date }}</td>

                {% if request.user.is_superuser %}
                    <td style="width:90px;" class="">
                        <div class="btn-group btn-group-sm" role="group">

                            <a class="btn btn-secondary" href="{{ item.get_absolute_url }}" data-toggle="tooltip"
                               title=""
                               data-original-title="Editar"><i class="fa fa-pencil-square-o"></i></a>
                            <a class="btn btn-secondary btn-sm" href="{% url 'registers:review_delete' item.pk %}"
                               title=""
                               data-toggle="tooltip"
                               data-original-title="Apagar"><i class="fa fa-trash-o"></i></a>

                        </div>
                    </td>

                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">
                    {{ note_empty }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if page_obj %}
        {% bootstrap_paginate page_obj url_param_name=paramname range=10 align='center' previous_label="<i class='fa fa-angle-double-left'></i>" next_label="<i class='fa fa-angle-double-right'></i>" %}
    {% endif %}

</div>