{% extends 'core_admin/base_admin.html' %}
{% load static %}

{% block page-content-title %}Editar: {{ object }}{% endblock %}

{% block page-content-breadcrumb %}{{ block.super }}
    | <a href="{% url 'registers:review_index' %}">{{ label }}</a> | Editar: {{ object }}
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="card card-default">
                <div class="card-block">

                    {% include 'core_admin/_form.html' with button_submit='Atualizar' %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block admin_styles %}{{ block.super }}

    {% include 'core_admin/styles.html' %}

{% endblock %}

{% block admin_js %}{{ block.super }}
    {{ form.media }}

    {% include 'core_admin/scripts.html' %}

{% endblock %}