{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}


{% for field in form.visible_fields %}


    {% if field|field_type == 'modelmultiplechoicefield' %}

        <div class="form-group">

            <h5 class="box-title">{{ field.label_tag }}</h5>

            {% render_field field id="pre-selected-options" %}

        </div>

    {% elif field|field_type == 'booleanfield' or field|field_type == 'multiplechoicefield' %}

        <div class="demo-checkbox">

            {% if field|field_type == 'multiplechoicefield' %}

                {{ field.label_tag }}

                {% for choice_id, choice_label in field.field.choices %}
                    <input type="checkbox" name="{{ field.label }}" value="{{ choice_id }}" id="{{ choice_id }}">
                    <label for="{{ choice_id }}">{{ choice_label }}</label>
                {% endfor %}

            {% else %}
                {% render_field field %}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {% endif %}

        </div>

    {% elif field|field_type == 'typedchoicefield' %}

        <div class="form-group">

            {{ field.label_tag }}
            {% render_field field class="custom-select" %}

        </div>

    {% else %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label_tag }}

            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control boxed" %}
                    {% for error in field.errors %}
                        <span class="has-error">
                            {{ error }}
                        </span>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>

    {% endif %}


{% endfor %}
