{% load static %}
<nav class="menu">

    <ul class="sidebar-menu metismenu" id="sidebar-menu">
        <li>
            <a href="{% url 'accounts:dashboard' %}">
                <i class="fa fa-home"></i> Painel </a>
        </li>

        {% if request.user.is_superuser %}

            <li>
                <a href="#">
                    <i class="fa fa-th-large"></i> Cadastros
                    <i class="fa arrow"></i>
                </a>
                <ul class="sidebar-nav">

                    <li>
                        <a href="{% url 'accounts:reviewer_index' %}"> Revisor </a>
                    </li>
                    <li>
                        <a href="{% url 'registers:company_index' %}"> Empresas </a>
                    </li>

                </ul>
            </li>

        {% endif %}
    </ul>
</nav>
