{% load static thumbnail %}
<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <img width="140" src="{% static 'core_admin/images/onidata-logo-w.png' %}" alt="Onidata">

            </div>
        </div>
        {% include 'core_admin/includes/_menu.html' %}
    </div>

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>