{% load static thumbnail %}
{% block topbar %}
    <header class="header">
        <div class="header-block header-block-collapse d-lg-none d-xl-none">
            <button class="collapse-btn" id="sidebar-collapse-btn">
                <i class="fa fa-bars"></i>
            </button>
        </div>


        <div class="header-block header-block-nav">
            {% block profile %}
                {% if request.user.is_authenticated %}
                    <ul class="nav-profile">


                        {% block profile_dropdown %}

                            <li class="profile dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    {% if request.user.photo %}
                                        <div class="img"
                                             style="background-image: url('{{ request.user.photo|thumbnail_url:'avatar' }}')"></div>
                                    {% else %}
                                        <div class="img"
                                             style="background-image: url('{% static 'core_admin/images/profile.png' %}')"></div>
                                    {% endif %}
                                    <span class="name"> {{ request.user.name|default:request.user.username }} </span>
                                </a>
                                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                                        <i class="fa fa-user icon"></i> Perfil </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                                        <i class="fa fa-power-off icon"></i> Sair </a>
                                </div>
                            </li>
                        {% endblock %}
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
    </header>
{% endblock %}