<form class="form-horizontal" enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    {% include 'core_admin/includes/_form.html' with form=form %}
    <button type="submit" class="btn btn-primary">{{ button_submit}}</button>
</form>