<div class="alert alert-warning">Tem certeza de que deseja excluir <strong>"{{ object }}"</strong> ?</div>


<div class="row">
    <div class="col-lg-12">
        <form method="post">{% csrf_token %}
            <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
            <input class="btn btn-danger" type="submit" value="Confirmar"/>
        </form>
    </div>

</div>
