<!doctype html>
{% load static %}
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block admin_title %}Admin | Onidata{% endblock %}</title>
    <meta name="description" content="{% block admin_meta_description %}Mangue Digital{% endblock %}">
    <meta name="author" content="{% block admin_meta_author %}Marlon Leite{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block admin_favicon %}
        <link rel="shortcut icon" href="{% static 'core_admin/images/favicons/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'core_admin/images/favicons/favicon.ico' %}" type="image/x-icon">
    {% endblock %}


    {% block admin_styles %}
        <link rel="stylesheet" href="{% static 'core_admin/vendors/modular-admin/css/vendor.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/metismenu/dist/metisMenu.min.css">
        <link rel="stylesheet" id="theme-style" href="{% static 'core_admin/vendors/modular-admin/css/app.css' %}">
        <link rel="stylesheet" id="theme-style"
              href="{% static 'core_admin/vendors/modular-admin/css/app-blue.css' %}">
    {% endblock %}

    <link href="{% static 'core_admin/css/main.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="main-wrapper">
    {% block main_wrapper %}
        <div class="app" id="app">
            {% block topbar %}
                {% include 'core_admin/includes/_topbar.html' %}
            {% endblock %}
            {% block sidebar %}
                {% include 'core_admin/includes/_sidebar.html' %}
            {% endblock %}
            {% block  page_wrapper %}

                <article class="content {% block page_content_class %}{% endblock %}">

                    {% block messages %}
                        {% for message in messages %}

                            <div class="alert alert-{{ message.tags }}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {{ message }}
                            </div>

                        {% endfor %}
                    {% endblock %}

                    {% block page-title %}
                        <div class="title-search-block">
                            <div class="title-block">
                                <h1 class="title">{% block page-content-title %}{% endblock %}</h1>
                                <p class="title-description">
                                    {% block page-content-breadcrumb %}
                                        <a href="{% url 'accounts:dashboard' %}">Painel</a>
                                    {% endblock %}
                                </p>
                            </div>
                            {% block page-title-right %}{% endblock %}
                        </div>
                    {% endblock %}


                    {% block subtitle-block %}{% endblock %}
                    {% block page-content %}{% endblock %}

                </article>
                {% block  page_footer %}
                    <footer class="footer">
                        <div class="footer-block author">
                            © {% now 'Y' %} Onidata - Revisões
                        </div>
                    </footer>
                {% endblock %}
                {% block  modal_media %}
                    <div class="modal fade" id="modal-media">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Media Library</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-tab-container">
                                    <ul class="nav nav-tabs modal-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#upload" data-toggle="tab"
                                               role="tab">Upload</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content modal-tab-content">
                                        <div class="tab-pane fade" id="gallery" role="tabpanel">
                                            <div class="images-container">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                            <div class="upload-container">
                                                <div id="dropzone">
                                                    <form action="/" method="POST" enctype="multipart/form-data"
                                                          class="dropzone needsclick dz-clickable" id="demo-upload">
                                                        <div class="dz-message-block">
                                                            <div class="dz-message needsclick"> Drop files here or click
                                                                to
                                                                upload.
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Insert Selected</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                {% endblock %}
                {% block  modal_confirm %}
                    <div class="modal fade" id="confirm-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        <i class="fa fa-warning"></i> Alert</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure want to do this?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
</div>


{% block admin_js %}

    <script src="{% static 'core_admin/vendors/modular-admin/js/vendor.js' %}"></script>
    <script src="{% static 'core_admin/vendors/modular-admin/js/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
{% endblock %}

{% block js %}{% endblock %}

<script>
    $(document).ready(function () {
        $("body").tooltip({selector: '[data-toggle=tooltip]'});
    });
</script>
</body>
</html>