{% load static %}

<script src="{% static 'core_admin/vendors/jquery-mask-plugin/jquery.mask.min.js' %}"></script>
<script src="{% static 'core_admin/js/slugify.js' %}"></script>
<script>
    $(document).ready(function () {

        var PhoneMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            phoneOption = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(PhoneMaskBehavior.apply({}, arguments), options);
                }
            };

        $('.date').mask('00/00/0000');
        $('.time').mask('00:00:00');
        $('.date_time').mask('00/00/0000 00:00:00');
        $('.cep').mask('00000-000');
        $('.phone').mask(PhoneMaskBehavior, phoneOption);
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('#id_cnpj').mask('00.000.000/0000-00', {reverse: true});
        $('.money').mask("#.##0,00", {reverse: true});
        $('.percent').mask('##0,00%', {reverse: true});

        $('#id_ip_address').mask('099.099.099.099');

        $("#id_name").c_slugify({slug: "#id_slug", type: "_"});

    });
</script>