{% load static bootstrap_pagination %}
<div class="table-responsive m-t-20">
    <table class="table stylish-table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CNPJ</th>
            <th>Data</th>
            <th class="text-nowrap">Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.cnpj }}</td>
                <td>{{ item.created_at|date }}</td>

                <td style="width:90px;" class="">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-secondary" href="{{ item.get_absolute_url }}" data-toggle="tooltip"
                           title=""
                           data-original-title="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        <a class="btn btn-secondary btn-sm" href="{% url 'registers:company_delete' item.pk %}" title=""
                           data-toggle="tooltip"
                           data-original-title="Apagar"><i class="fa fa-trash-o"></i></a>
                    </div>
                </td>

            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{{ note_empty }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if page_obj %}
        {% bootstrap_paginate page_obj url_param_name=paramname range=10 align='center' previous_label="<i class='fa fa-angle-double-left'></i>" next_label="<i class='fa fa-angle-double-right'></i>" %}
    {% endif %}

</div>